div.base {
  margin: 0;
  height: 100vh;
}

div.form-base {
  margin: auto;
  height: 100vh;
}

div.form-wrapper {
  height: inherit;
}

form.signin {
  margin-top:25%;
}

form.signin p {
  text-align: center;
}

div.button-holder {
  text-align: center;
}

ul.main-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  color: #000;
  text-decoration: none;
}

a:hover {
  background-color: #cfcfe1;
  color: #000;
  text-decoration: none;
}

div.sidebar {
  background-color: #e6e6fa;
}

div.baserow {
  height: inherit;
}
